:root {
  --clr-primary-400: oklch(0.704 0.191 22.216);
  --clr-primary-500: oklch(0.637 0.237 25.331);
  --clr-electronics: oklch(0.45 0.085 224.283);
  --clr-electronics-bg: oklch(0.956 0.045 203.388);
  --clr-clothing: oklch(0.438 0.218 303.724);
  --clr-clothing-bg: oklch(0.946 0.033 307.174);
  --clr-accessories: oklch(0.476 0.114 61.907);
  --clr-accessories-bg: oklch(0.973 0.071 103.193);
  --clr-sale: oklch(0.627 0.194 149.214);
  --clr-sale-bg: oklch(0.979 0.021 166.113);
  --clr-white: oklch(1 0 0);
  --clr-border: oklch(0.922 0 0);
  --clr-text: oklch(0.216 0.006 56.043);
  --clr-text-secondary: oklch(0.556 0 0);
}

:root {
  interpolate-size: allow-keywords;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:has(:target) {
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
}

html,
body {
  min-height: 100vh;
}

body {
  line-height: 1.5;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeSpeed;
}

h1,
h2,
h3 {
  line-height: 1.125;
  text-wrap: balance;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

p {
  text-wrap: pretty;
}

img,
picture {
  display: block;
  max-width: 100%;
  height: auto;
  font-style: italic;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* My CSS */
.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background-color: var(--clr-primary-400);
  padding: 1rem;
  color: var(--clr-white);
}

.header__filter {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.header__filter__select {
  border: 1px solid var(--clr-border);
  border-radius: 4px;
  padding: 0.5rem;
  font-size: 1rem;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.product-card {
  border: 1px solid var(--clr-border);
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.3s ease-out;
  container: product / inline-size;
}

.product-card:hover {
  transform: scale(1.04);
}

.product-image img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  aspect-ratio: 1;
}

.product-content-container {
  padding: 1rem;
}

@container product (min-width: 500px) {
  .product-content-container {
    display: grid;
    grid-template-columns: 1fr 125px;
  }
}

.product-content {
  display: grid;
  gap: 1rem;
  margin-bottom: 1rem;
}

.product-title {
  font-size: 1.25rem;
}

.product-description {
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}

.product-category {
  max-width: fit-content;
  border-radius: 2px;
  padding: 4px 0.5rem;
  font-size: 0.75rem;
}

.product-category.electronics {
  background-color: var(--clr-electronics-bg);
  color: var(--clr-electronics);
}

.product-category.clothing {
  background-color: var(--clr-clothing-bg);
  color: var(--clr-clothing);
}

.product-category.accessories {
  background-color: var(--clr-accessories-bg);
  color: var(--clr-accessories);
}

.product-pricing {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.sale-price {
  color: var(--clr-sale);
}

/* It Selects  product pricing div that has sale price as a child */
.product-pricing:has(.sale-price) {
  .product-price:not(.sale-price) {
    text-decoration: line-through;
    color: var(--clr-text-secondary);
  }
}

.add-to-cart-btn {
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  background-color: var(--clr-primary-400);
  color: var(--clr-white);
  cursor: pointer;
}

.add-to-cart-btn:hover {
  background-color: var(--clr-primary-500);
}
